{% extends 'base.html' %}

{% block title %}Student Info{% endblock %}

{% block body %}
<h1>{{ first }} {{ last }}</h1>

<p>GitHub Account: {{ github }}</p>

<!-- create our list via a for loop-->
	{% if grades %}
		<ul>
			{% for grade in grades %}
				<li>
					<a href="/project?title={{ grade[0] }}">{{ grade[0] }}</a>: {{ grade[1] }}</li>


					<!-- this is code to pass the project title as a url variable. -->
					<!-- <a href="/project/{{grade[0]}}">{{ grade[0] }}</a>: {{ grade[1] }}</li> -->

						<!-- this code is a way of pre-filling a form to send information to a route --> 
					<!-- <form action="/project">
						<input name="title" value="{{grade[0]}}" type="hidden">
						<input type="submit" value="show the {{grade[0]}} project">
					</form> -->
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}